.result-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  width: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

